<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Count</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag :application, media: :all, 'data-turbolinks-track': :reload %>
    <%= javascript_include_tag :application, defer: true %>
    <script>document.addEventListener('turbolinks:load', () => Application.init())</script>
  </head>
  <body>
    <%= symbols %>
    <%= render 'application/popin' %>

    <ul class="notification-list">
      <% notifications.each do |(type, message)| %>
        <li class="notification-list__item">
          <p class="notification notification--<%= type %>">
            <%= message %>
          </p>
        </li>
      <% end %>
    </ul>

    <%= content { yield } %>
  </body>
</html>
